.type1 {
    background-color: #730217;
    padding: .5em;
    margin-bottom: 1em;

}

.type2 {
    background-color: #D15530;
    padding: .5em;
    margin-bottom: 1em;

}
.type3 {
    background-color: #A37849;
    padding: .5em;
    margin-bottom: 1em;

}
.type4 {
    background-color: #2594D9;
    padding: .5em;
    margin-bottom: 1em;

}
.type5 {
    background-color: #E73C81;
    padding: .5em;
    margin-bottom: 1em;

}
.type6 {
    background-color: #3E4D8C;
    padding: .5em;
    margin-bottom: 1em;

}
.type7 {    
    background-color: #F2CF53;
    padding: .5em;
    margin-bottom: 1em;

}